.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.totals{
  margin-top: 2vh;
  margin-left: 5vh;
}
h3{
  background-color: lightgray;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 0em;
  margin-bottom: 0em;
}
h5{
  margin-bottom: 1vh;
}
h6{
  display: inline;
  margin-right: 1vh;
}

label{
  margin-right: 1vh;
}

.furnish-log{
  margin-top: 10vh;
}

button{
  width: 10vh;
  height: 2.5vh;
  background-color: antiquewhite;
}